@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500&family=Work+Sans:wght@400;500&display=swap');

/* * Katflix CSS */

:root {
  --color-black-: #2c2727;
  --color-white-: #f6f4f4;
  --color-grey-: #3e3939;
  --color-cream-: #fff3cd;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-white-);
}

body {
  background-color: var(--color-black-);
}

.navbar {
  background-color: white;
}

/* * Header Start */

.header-nav {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--color-black-);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

li,
a,
button {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-white-);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.bxs-cat {
  color: var(--color-cream-);
  margin-left: 5px;
}

.logo-kat {
  color: var(--color-cream-);
}

.cat-logo {
  margin-left: 2px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 4rem;
  padding-left: 0;
}

li a {
  transition: all 0.5s ease;
}

li a:hover {
  color: var(--color-cream-);
}

.nav-btn {
  background-color: var(--color-cream-);
  color: var(--color-black-);
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-weight: 600;
}

.nav-btn:hover {
  scale: 1.05;
}

.nav-btn:active {
  background-color: var(--color-cream-);
  color: var(--color-black-);
  scale: 0.95;
}

.header-nav .toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.signin {
  cursor: pointer;
}

/* * Dropdown Menu */

.dropdown_menu {
  display: none;
  z-index: 11;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: var(--color-black-);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  /* height: 240px; */
  height: 288px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu .nav-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* * Header End */

.active {
  color: var(--color-cream-);
}

/* * Carousel Start */

.carousel {
  margin-top: 60px;
  cursor: pointer;
}

.c-item {
  height: 600px;
}

.c-img {
  height: 100%;
  background-size: cover;
}

.c-img img {
  width: 100%;
  height: auto;
}

.c-img-1 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-black-) 100%), url('https://static01.nyt.com/images/2023/03/08/multimedia/luther2-gmkw/luther2-gmkw-videoSixteenByNine3000.jpg');
}

.c-title-1 {
  position: absolute;
  top: 35%;
  left: 13%;
}

.c-img-2 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-black-) 100%), url('https://static.skyassets.com/contentstack/assets/blt143e20b03d72047e/blt58003b8446c88821/63b7fcadade3a64c6774617f/MicrosoftTeams-image_(14).png');
}

.c-title-2 {
  position: absolute;
  top: 20%;
  left: 15%;
  scale: 1.2;
}

.c-img-3 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-black-) 100%), url('https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQWLWulB8WKKRClHyCMW33zONSWOBRcGM2sgpdFlb5r2_-1VqM6skxOKEHiS2HvzYuy7oadFip1JbLddKzQWHIX-fKyHSRx5S4BONc5YO_lzrpZQEyslBCKie-qQJ90woOJzv7c22KhvgoNCB5kGbB7PDhmk.jpg?r=1c6');
}

.c-title-3 {
  position: absolute;
  top: 60%;
  left: 10%;
  /* scale: 1.2; */
}

/* * Carousel End */

/* * Bootstrap Alert */

.alert p {
  color: var(--color-black-);
  margin: 0;
}

.alert p strong {
  color: var(--color-black-);
}

/* * Cards Start */
.cards-lg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: 0;
  transition: 0.5s;
}

.cards-lg .card:hover {
  scale: 1.05;
}

.small-cards .card:hover {
  scale: 1.1;
}

.card .poster {
  position: relative;
}
.card .poster::before {
  content: '';
  position: absolute;
  /* bottom: -180px; */
  bottom: -320px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--color-grey-) 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .poster::before {
  bottom: 0px;
}

.card .poster img {
  width: 100%;
  transition: 0.5s;
}

.card:hover .poster img {
  transform: translateY(-50px);
  filter: blur(5px);
}

.card .details {
  position: absolute;
  /* bottom: -190px; */
  bottom: 0px;
  left: 0;
  padding: 20px;
  width: 100%;
  z-index: 2;
  /* transition: 0.5s; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.card:hover .details {
  /* bottom: 0px; */
  visibility: visible;
  opacity: 1;
}

.card .details .title {
  color: #fff;
  /* max-width: 180px; */
  font-size: 20px;
}

.card .details h3 {
  font-size: 14px;
  color: #fff;
}

.card .details .rating {
  position: relative;
  padding: 5px 0;
}

.card .details .rating .bx {
  color: #f7f406;
  font-size: 1em;
}

.card .details .rating span {
  color: #fff;
  margin-left: 10px;
}

.card .details .tags {
  position: relative;
  margin-top: 5px;
}

.card .details .tags span {
  padding: 5px;
  color: var(--color-black-);
  background: var(--color-cream-);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.card .details .tags span:nth-child(2) {
  color: var(--color-cream-);
  background: var(--color-black-);
}

.card .details .info {
  color: #fff;
  margin-top: 20px;
  font-size: 14px;
}

.card .details .cast {
  position: relative;
  margin-top: 10px;
}

.card .details .cast h5 {
  color: #fff;
  margin-bottom: 10px;
}

.card .details .cast ul {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-top: 10px;
  padding-left: 0;
}

.card .details .cast ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
}

.card .details .cast ul li img {
  max-width: 100%;
}

.small-cards {
  margin-top: 30px;
}

.imdb {
  padding: 5px;
  background-color: #d1a81f;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.imdb-p {
  padding-left: 7px;
  font-size: 19px;
}

/* * Cards End */

/* * Modal Start */

.modal-content {
  background-color: var(--color-grey-);
}

.modal-header {
  height: 400px;
  background-size: cover;
  border: 0;
}

.modal-header-img-1 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-grey-) 100%), url('https://static01.nyt.com/images/2023/02/16/multimedia/16emily-review-bmqz/16emily-review-bmqz-videoSixteenByNine3000.jpg');
}

.modal-header-img-2 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-grey-) 100%), url('https://nofilmschool.com/sites/default/files/styles/facebook/public/the_whale_2.jpg?itok=s3kSDsu6');
}

.modal-header-img-3 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-grey-) 100%), url('https://awsimages.detik.net.id/community/media/visual/2022/11/03/avatar-the-way-of-water-1_169.jpeg?w=1200');
}

.modal-header-img-4 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-grey-) 100%), url('https://static01.nyt.com/images/2022/12/19/multimedia/puss1/puss1-1-30b7-videoSixteenByNineJumbo1600.jpg');
}

.modal-header-img-5 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-grey-) 100%), url('https://i.ytimg.com/vi/Zi88i4CpHe4/maxresdefault.jpg');
}

.modal-header-img-6 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-grey-) 100%), url('https://www.denofgeek.com/wp-content/uploads/2023/03/Idris-Elba-in-Luther-the-Fallen-Sun.jpg?fit=1200%2C675');
}

.modal-header-img-7 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-grey-) 100%), url('https://www.hollywoodreporter.com/wp-content/uploads/2023/01/Pedro-Pascal-Anna-Torv-Liane-Hentscher_HBO-H-2023.jpg');
}

.modal-header-img-8 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, var(--color-grey-) 100%), url('https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQSTS8LVid3gnC-nKumw-haJ7yifyp6DgF2F3-iIJYLhmso1-gmkMk_wzNNlZBmduqcuDqAc_oJ4oPkj7LEQvIdqcisiypdIkg3MxOrFceh1DeIM9mXebun7Lb-D8OZA9Lnn-Kspigyd_XCiAPjefDRO2JR0.jpg?r=ed7');
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.9rem;
  display: none;
}

.modal-signin-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.9rem;
}

.modal-body {
  margin: 20px;
  margin-top: 0;
  gap: 20px;
}

.modal-poster {
  padding: 0;
  border-radius: 20px;
  width: 256px;
  height: 350px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.modal-poster img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal-desc {
  width: 800px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.modal-desc .title {
  color: #fff;
  font-size: 20px;
}

.modal-desc h3 {
  font-size: 14px;
  color: #fff;
}

.modal-desc .rating {
  position: relative;
  padding: 5px 0;
}

.modal-desc .rating .bx {
  letter-spacing: 3px;
  color: #f7f406;
  font-size: 1em;
}

.modal-desc .rating span {
  color: #fff;
  margin-left: 10px;
}

.modal-desc .tags {
  position: relative;
  margin-top: 5px;
}

.modal-desc .tags span {
  padding: 5px;
  color: var(--color-black-);
  background: var(--color-cream-);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.modal-desc .tags span:nth-child(2) {
  color: var(--color-cream-);
  background: var(--color-black-);
}

.modal-desc .info {
  color: #fff;
  margin-top: 20px;
  font-size: 14px;
}

.modal-desc .cast {
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
}

.modal-desc .cast h5 {
  color: #fff;
  margin-bottom: 10px;
}

.modal-desc .cast ul {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-top: 10px;

  margin-bottom: 0;
  padding-left: 0;
}

.modal-desc .cast ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
}

.modal-desc .cast ul li img {
  max-width: 100%;
}

.modal-desc .cast-trailer {
  flex-grow: 1;
  width: 100%;
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.modal-desc .cast-trailer .cast {
  align-self: start;
}
.modal-button {
  padding: 0.4rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.modal-button:hover {
  scale: 1.05;
}

.modal-button:active {
  scale: 0.95;
}

.modal-button-1 {
  background-color: var(--color-black-);
  color: var(--color-cream-);
  margin-right: 8px;
}

.modal-button-2 {
  background-color: var(--color-cream-);
  color: var(--color-black-);
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* * Modal End */

/* *Contact Form Start */

.contact {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: var(--color-grey-);
  border-radius: 20px;
}

.contact-form h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 15px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  width: 969px;
  border-bottom: 4px solid var(--color-cream-);
  display: flex;
  align-items: center;
  gap: 5px;
}

.form1 {
  height: 550px;
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
}

.input-box {
  position: relative;
  width: 250px;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-white-);
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  color: var(--color-white-);
  font-size: 1em;
}

.input-box span {
  position: absolute;
  left: 0px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: var(--color-white-);
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.input-box input:valid,
.input-box input:focus {
  border: 1px solid var(--color-cream-);
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
  color: var(--color-cream-);
  transform: translate(10px, -7px);
  font-size: 0.65em;
  padding: 0px 10px;
  background: var(--color-grey-);
  border-left: 1px solid var(--color-cream-);
  border-right: 1px solid var(--color-cream-);
  letter-spacing: 0.2em;
}

.textarea-box {
  position: relative;
  width: 969px;
  flex-grow: 1;
}

.textarea-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-white-);
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  color: var(--color-white-);
  font-size: 1em;
}

.textarea-box span {
  position: absolute;
  left: 0px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: var(--color-white-);
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.textarea-box textarea:valid,
.textarea-box textarea:focus {
  border: 1px solid var(--color-cream-);
}

.textarea-box textarea:valid ~ span,
.textarea-box textarea:focus ~ span {
  color: var(--color-cream-);
  transform: translate(10px, -7px);
  font-size: 0.65em;
  padding: 0px 10px;
  background: var(--color-grey-);
  border-left: 1px solid var(--color-cream-);
  border-right: 1px solid var(--color-cream-);
  letter-spacing: 0.2em;
}

.submit {
  height: 50px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-cream-);
  color: var(--color-black-);
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.5s ease;
  cursor: pointer;
}

.submit:hover {
  scale: 1.01;
  background-color: var(--color-cream-);
  color: var(--color-black-);
}

.submit:active {
  scale: 0.98;
  background-color: var(--color-cream-);
  color: var(--color-black-);
}

.submit:focus {
  scale: 0.98;
  background-color: var(--color-cream-);
  color: var(--color-black-);
}

/* * Contact Form End */

/* * Footer */
.footer {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer h6 {
  margin: 0;
  text-align: center;
}

.footerlink {
  margin: 0;
  text-align: center;
  color: var(--color-cream-);
  font-weight: 600;
  cursor: pointer;
}

.footericon {
  margin: 0;
  font-size: larger;
  color: var(--color-cream-);
}

/* * Bootstrap Breadcrumb */

.bs-breadcrumb {
  margin-top: 75px;
  margin-left: 30px;
}

body > nav > ol > li.breadcrumb-item.active {
  color: var(--color-cream-);
  font-weight: 600;
}

.breadcrumb {
  --bs-breadcrumb-divider-color: var(--color-cream-);
}

/* * Card Test */

/* .cradWrapper {
  overflow-x: auto;
}

.cradWrapper::-webkit-scrollbar {
  width: 0;
} */

.cardTest {
  width: 185px;
  height: 278px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  cursor: pointer;
}

.cardTest:hover {
  scale: 1.05;
}

/* * Responsive Design */

@media (max-width: 992px) {
  .nav-links,
  .nav-btn {
    display: none;
  }

  .header-nav .toggle-btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    position: fixed;
  }

  .c-item {
    height: 400px;
  }

  .c-title-1 {
    scale: 0.6;
    top: 29%;
    left: 2%;
  }

  .c-title-2 {
    scale: 0.9;
    top: 10%;
    left: 15%;
  }

  .c-title-3 {
    scale: 0.6;
    top: 65%;
    left: 14%;
  }

  .modal-header {
    height: 300px;
  }

  .modal-poster {
    display: none;
  }

  .modal-desc .cast-trailer {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .btn-modal {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
    position: fixed;
  }

  .c-item {
    height: 250px;
  }

  .c-title-1 {
    /* display: none; */
    scale: 0.3;
    top: 50%;
    left: 4%;
  }

  .c-title-2 {
    scale: 0.4;
    top: 5%;
    left: 2%;
  }

  .c-title-3 {
    scale: 0.6;
    top: 65%;
    left: 8%;
  }

  .modal-header {
    height: 200px;
  }

  .modal-close-button {
    display: block;
  }

  .modal-signin-close-button {
    display: block;
  }

  .modal-poster {
    display: none;
  }

  .modal-desc .cast-trailer {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .btn-modal {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .small-cards .card {
    scale: 1.27;
  }

  .small-cards .card:hover {
    scale: 1.35;
  }

  .cards {
    margin-top: 23px;
    row-gap: 60px !important;
  }
}
